<mat-drawer-container class="flex h-screen bg-black">
  <mat-drawer
    #drawer
    class="w-64 bg-black text-white"
    mode="side"
    opened="true"
  >
    <!-- Encabezado del Sidebar -->
    <div class="bg-black p-4 flex justify-between items-center">
      <!-- Título -->
      <span class="font-bold text-lg">Sequence Music</span>
    </div>

    <!-- Lista de Navegación -->
    <nav class="mt-2">
      <a
        routerLink="/browse"
        class="flex items-center px-4 py-2 hover:bg-gray-900"
      >
        Canciones
        <mat-icon class="text-green-600 mr-2">arrow_forward_ios</mat-icon>
      </a>
      <a
        routerLink="/search"
        class="flex items-center px-4 py-2 hover:bg-gray-900"
      >
        Artistas
        <mat-icon class="text-green-600 mr-2">arrow_forward_ios</mat-icon>
      </a>
      <a
        routerLink="/library"
        class="flex items-center px-4 py-2 hover:bg-gray-900"
      >
        Compañías discográficas
        <mat-icon class="text-green-600 mr-2">arrow_forward_ios</mat-icon>
      </a>
      <!-- ... más elementos ... -->
    </nav>
  </mat-drawer>

  <div class="flex-1 p-4 text-white ml-2">
    <button type="button" mat-icon-button (click)="drawer.toggle()">
      <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
      <mat-icon *ngIf="drawer.opened">close</mat-icon>
    </button>
  </div>
</mat-drawer-container>
