<div class="min-h-screen p-4 md:p-8 bg-background">
  <!-- Encabezado -->
  <div class="flex justify-between items-center mb-6 text-primary-dark">
    <h2 class="text-xl md:text-2xl font-semibold">Detalles de la Canción</h2>
    <button
      class="bg-primary text-white py-2 px-4 rounded hover:bg-primary-dark transition duration-300"
      (click)="navigateBack()"
    >
      Volver
    </button>
  </div>

  <ng-container *ngIf="song$ | async as song">
    <!-- Detalle de la canción -->
    <div class="bg-white rounded-lg shadow overflow-hidden md:flex">
      <!-- Imagen de la canción -->
      <div class="md:flex-shrink-0">
        <img
          [src]="song.poster"
          alt="{{ song.title }}"
          class="object-cover md:w-48 lg:w-64 h-48 lg:h-64 w-full"
        />
      </div>

      <!-- Información de la canción -->
      <div class="p-4">
        <h3 class="text-2xl font-bold mb-2">{{ song.title }}</h3>
        <p class="text-sm text-gray-600 mb-4">
          <span class="font-medium">Géneros:</span>
          <span *ngFor="let genre of song.genre; let i = index">
            {{ genre }}<span *ngIf="i < song.genre.length - 1">, </span>
          </span>
        </p>
        <p class="text-sm text-gray-600 mb-2">Año: {{ song.year }}</p>
        <p class="text-sm text-gray-600 mb-2">Duración: {{ song.duration }}s</p>
        <shared-rating class="mb-4" [rating]="song.rating"></shared-rating>

        <!-- Botones de acción -->
        <div class="flex gap-4">
          <button
            class="bg-primary text-white py-2 px-4 rounded-full hover:bg-primary-dark transition duration-300"
            (click)="navigateToEdit(song.id)"
          >
            Editar
          </button>
          <button
            class="bg-danger text-dark py-2 px-4 rounded-full hover:bg-danger-dark transition duration-300 border border-danger-dark"
            (click)="deleteSongConfirm(song.id)"
          >
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<shared-modal></shared-modal>
