<shared-loader *ngIf="loading$ | async"></shared-loader>
<div class="bg-background my-2">
  <!-- Título y botón de cancelar (solo visible en ordenadores) -->
  <div class="flex justify-between items-center hidden lg:flex">
    <h3 class="text-headline font-bold mb-4" translate>
      {{ editMode ? "EDITING_SONG" : "ADD_NEW_SONG" }}
    </h3>
    <button
      class="bg-primary py-2 px-4 rounded hover:bg-primary-dark transition duration-300 shadow-md"
      (click)="navigateBack()"
      translate
    >
      BACK
    </button>
  </div>

  <div class="flex flex-col lg:flex-row gap-8">
    <!-- Sección de la imagen -->
    <div class="lg:flex-shrink-0 lg:w-1/3">
      <img
        *ngIf="form.get('poster')?.value"
        [src]="form.get('poster')?.value"
        alt="Song Image"
        class="w-full h-auto object-cover rounded lg:rounded-r"
      />
      <img
        *ngIf="!form.get('poster')?.value"
        [src]="imgUrl"
        alt="Song Image"
        class="w-full h-auto object-cover rounded lg:rounded-r"
      />
    </div>

    <!-- Formulario -->
    <form class="flex-1 space-y-4" [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Título -->
      <div class="mb-4">
        <label
          for="title"
          class="block text-sm font-medium text-gray-700"
          translate
          >TITLE</label
        >
        <input
          formControlName="title"
          type="text"
          id="title"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50"
          placeholder="{{ 'ENTER_SONG_TITLE' | translate }}"
        />
        <div
          *ngIf="form.get('title')?.invalid && form.get('title')?.touched"
          class="text-red-600 text-sm mt-1"
        >
          {{ "VALIDATOR_TITLE" | translate }}
        </div>
      </div>

      <!-- Artistas -->
      <div class="relative" #artistDropdown>
        <label class="block text-sm font-medium text-gray-700" translate
          >ARTIST</label
        >
        <input
          type="text"
          readonly
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 cursor-pointer"
          placeholder="Seleccionar artista(s)"
          (click)="toggleArtistDropdown()"
          (blur)="onArtistDropdownBlur()"
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 text-black text-opacity-50 absolute right-2 top-9 cursor-pointer"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          (click)="toggleArtistDropdown()"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 4v16m8-8H4"
          />
        </svg>
        <div
          *ngIf="
            form.get('artist')?.invalid &&
            (form.get('artist')?.touched || submitted)
          "
          class="text-red-600 text-sm mt-1"
        >
          {{ "VALIDATOR_ARTIST" | translate }}
        </div>
        <div
          *ngIf="showArtistDropdown"
          class="absolute mt-1 w-full rounded-md border border-gray-300 bg-white shadow-lg z-10"
        >
          <div class="flex flex-wrap gap-2 p-2">
            <ng-container *ngFor="let artist of artists$ | async">
              <div
                *ngIf="!selectedArtists.includes(artist.id)"
                class="bg-primary px-3 py-1 rounded-full text-dark text-xs flex items-center cursor-pointer"
                (click)="selectArtist(artist.id)"
              >
                {{ artist.name }}
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <!-- Artistas seleccionados -->
      <div *ngIf="selectedArtists.length > 0" class="mt-4">
        <label class="block text-sm font-medium text-gray-700" translate
          >SELECTED_ARTISTS</label
        >
        <div class="flex flex-wrap gap-2 mt-2">
          <ng-container *ngFor="let selectedArtistId of selectedArtists">
            <span
              class="bg-primary px-3 py-1 rounded-full text-dark text-xs flex items-center"
            >
              {{ getArtistName(selectedArtistId) | async }}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4 ml-2 cursor-pointer"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                (click)="removeSelectedArtist(selectedArtistId)"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </span>
          </ng-container>
        </div>
      </div>

      <!-- Género -->
      <div class="relative" #genreDropdown>
        <label class="block text-sm font-medium text-gray-700" translate
          >GENRE</label
        >
        <input
          type="text"
          readonly
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 cursor-pointer"
          placeholder="Seleccionar género"
          (click)="toggleGenreDropdown()"
          (blur)="onGenreDropdownBlur()"
        />
        <div
          *ngIf="
            form.get('genre')?.invalid &&
            (form.get('genre')?.touched || submitted)
          "
          class="text-red-600 text-sm mt-1"
        >
          {{ "VALIDATOR_GENRE" | translate }}
        </div>
        <div
          *ngIf="showGenreDropdown"
          class="absolute mt-1 w-full rounded-md border border-gray-300 bg-white shadow-lg z-10"
        >
          <div class="flex flex-wrap gap-2 p-2">
            <ng-container *ngFor="let genre of availableGenres">
              <div
                *ngIf="!selectedGenres.includes(genre)"
                class="bg-primary px-3 py-1 rounded-full text-dark text-xs flex items-center cursor-pointer"
                (click)="selectGenre(genre)"
              >
                {{ genre }}
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <!-- Géneros seleccionados -->
      <div *ngIf="selectedGenres.length > 0" class="mt-4">
        <label class="block text-sm font-medium text-gray-700" translate
          >SELECTED_GENRES</label
        >
        <div class="flex flex-wrap gap-2 mt-1">
          <span
            *ngFor="let selectedGenre of selectedGenres"
            class="bg-primary px-3 py-1 rounded-full text-dark text-xs flex items-center"
          >
            {{ selectedGenre }}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 ml-2 cursor-pointer"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              (click)="removeSelectedGenre(selectedGenre)"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </span>
        </div>
      </div>

      <!-- País -->
      <div class="relative" #countryDropdown>
        <label class="block text-sm font-medium text-gray-700" translate
          >COUNTRY</label
        >
        <div
          class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus-within:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 cursor-pointer relative"
          (click)="toggleDropdown('country')"
        >
          <div class="pl-3 pr-10 py-2 rounded-md bg-white text-gray-700">
            {{ selectedCountry || ("SELECT_COUNTRY" | translate) }}
          </div>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path d="M5.5 7l5 5 5-5H5.5z" />
            </svg>
          </div>
          <div
            *ngIf="showDropdown"
            class="absolute z-10 w-full bg-white rounded-md shadow-lg mt-1 max-h-60 overflow-auto"
          >
            <a
              *ngFor="let country of countries"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
              (click)="selectCountry(country)"
              >{{ country | translate }}</a
            >
          </div>
        </div>
        <div
          *ngIf="form.get('country')?.invalid && form.get('country')?.touched"
          class="text-red-600 text-sm mt-1"
        >
          {{ "VALIDATOR_COUNTRY" | translate }}
        </div>
      </div>

      <!-- Año -->
      <div>
        <label
          for="year"
          class="block text-sm font-medium text-gray-700"
          translate
          >YEAR</label
        >
        <input
          formControlName="year"
          type="number"
          id="year"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50"
          placeholder="{{ 'ENTER_YEAR' | translate }}"
        />
        <div
          *ngIf="form.get('year')?.invalid && form.get('year')?.touched"
          class="text-red-600 text-sm mt-1"
        >
          <ng-container *ngIf="form.get('year')?.errors?.['required']">
            {{ "VALIDATOR_YEAR.REQUIRED" | translate }}
          </ng-container>
          <ng-container *ngIf="form.get('year')?.errors?.['min']">
            {{ "VALIDATOR_YEAR.MIN" | translate }}
          </ng-container>
          <ng-container *ngIf="form.get('year')?.errors?.['max']">
            {{ "VALIDATOR_YEAR.MAX" | translate }}
          </ng-container>
        </div>
      </div>

      <!-- Puntuación -->
      <div>
        <label
          for="rating"
          class="block text-sm font-medium text-gray-700"
          translate
          >RATING</label
        >
        <input
          formControlName="rating"
          type="number"
          id="rating"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50"
          placeholder="{{ 'ENTER_RATING' | translate }}"
        />
        <div
          *ngIf="form.get('rating')?.invalid && form.get('rating')?.touched"
          class="text-red-600 text-sm mt-1"
        >
          <ng-container *ngIf="form.get('rating')?.errors?.['required']">
            {{ "VALIDATOR_RATING.REQUIRED" | translate }}
          </ng-container>
          <ng-container *ngIf="form.get('rating')?.errors?.['min']">
            {{ "VALIDATOR_RATING.MIN" | translate }}
          </ng-container>
          <ng-container *ngIf="form.get('rating')?.errors?.['max']">
            {{ "VALIDATOR_RATING.MAX" | translate }}
          </ng-container>
        </div>
      </div>

      <!-- Duración -->
      <div>
        <label
          for="duration"
          class="block text-sm font-medium text-gray-700"
          translate
          >DURATION</label
        >
        <input
          formControlName="duration"
          type="number"
          id="duration"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50"
          placeholder="{{ 'ADD_DURATION' | translate }}"
        />
        <div
          *ngIf="form.get('duration')?.invalid && form.get('duration')?.touched"
          class="text-red-600 text-sm mt-1"
        >
          <ng-container *ngIf="form.get('duration')?.errors?.['required']">
            {{ "VALIDATOR_DURATION.REQUIRED" | translate }}
          </ng-container>
          <ng-container *ngIf="form.get('duration')?.errors?.['min']">
            {{ "VALIDATOR_DURATION.MIN" | translate }}
          </ng-container>
          <ng-container *ngIf="form.get('duration')?.errors?.['max']">
            {{ "VALIDATOR_DURATION.MAX" | translate }}
          </ng-container>
        </div>
      </div>

      <!-- Campo de URL de imagen -->
      <div class="mb-4">
        <label
          for="poster"
          class="block text-sm font-medium text-gray-700"
          translate
          >IMAGE_URL</label
        >
        <input
          formControlName="poster"
          type="text"
          id="poster"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50"
          placeholder="{{ 'ENTER_IMAGE_URL' | translate }}"
        />
        <div
          *ngIf="form.get('poster')?.invalid && form.get('poster')?.touched"
          class="text-red-600 text-sm mt-1"
        >
          {{ "VALIDATOR_POSTER" | translate }}
        </div>
      </div>

      <div class="hidden lg:flex justify-end">
        <button
          type="submit"
          class="bg-primary text-dark py-2 px-4 rounded hover:bg-primary-dark transition duration-300"
        >
          {{ (editMode ? 'UPDATE_SONG' : 'ADD_SONG') | translate }}
        </button>
      </div>

      <!-- Botones flotantes para dispositivos móviles y tabletas -->
      <div class="lg:hidden fixed bottom-4 right-4 flex space-x-2 z-10">
        <!-- Botón para guardar (icono de verificación) -->
        <button
          type="submit"
          class="bg-primary text-dark p-3 rounded-full shadow-lg hover:bg-primary-dark transition duration-300"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            />
          </svg>
        </button>
      </div>
    </form>
  </div>
</div>

<shared-modal></shared-modal>
