/* Estilos para el loader */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(5px); /* Desenfocado del fondo */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
  font-size: 4rem; /* Tamaño grande para la letra */
  color: #8c67ef; /* Color azul claro basado en tu tema */
  font-weight: normal;
  animation: spin 2s linear infinite;
}
